.layout-consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-holder{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    margin: 20px;
    width: 188px;
    
}

.cadastro {
    background-color: #FFA300;
    color: black;
    font-weight: bold;
}

.voltar {
    background-color: #007C7D;
    color: black;
    font-weight: bold;
}

.deletar {
    background-color: #99C24D;
    color: black;
    font-weight: bold;
}

.titulo {
    text-align: center;
}

h3 {
    color: black;
}

.imagem-consultas{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../../assets/pexels-karolina-grabowska-4021775.jpg');
    background-attachment: scroll;
    filter: blur(6px);
    z-index: -1;
}

.tabelas {
    background-color: #FFA300;
    color: black;
    width: auto;
    padding: 35px;
    border-radius: 24px;
    display: flex;
}

.tabelas-deletar {
    background-color: #007C7D;
    color: black;
    width: auto;
    padding: 35px;
    border-radius: 24px;
    display: flex;
}
