.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm label {
    color: #FFA300;
    margin-right: 15px;
}

.botao-login {
    margin: 24px 0px 24px 0px;
}

.botao-login button{
    background-color: #FFA300;
    color: #007c7d;
}

.div-login {
    display: flex;
    flex-direction: column;
    background-color: #007c7d;
    border-radius: 24px;
    width: 30%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.div-login h1 {
    color: #FFA300;
}